{
  "presets": [ "airbnb", "react", "es2015", "es2016", "stage-0" ],
  "plugins": [
    "transform-class-properties",
    "transform-runtime",
    "transform-react-display-name",
    "add-module-exports",
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "react-transform",
          {
            "transforms": [
              {
                "transform": "react-transform-catch-errors",
                "imports": ["react", "redbox-react"]
              }
            ]
          }
        ]
      ]
    },
    "development": {
      "plugins": [
        [
          "react-transform",
          {
            "transforms": [
              {
                "transform": "react-transform-catch-errors",
                "imports": ["react", "redbox-react"]
              }
            ]
          }
        ]
      ]
    }
  }
}
