{
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "_": true,
    "describe": true,
    "it": true,
    "test": true,
    "beforeEach": true,
    "afterEach": true,
    "expect": true,
    "global": true,
    "jest": true,
    "module": true,
    "process": true,
    "react": true,
    "require": true
  },
 "parserOptions": {
   "ecmaFeatures": {
      "blockBindings": true,
      "jsx": true,
      "classes": true
    }
  },
  "plugins": [
    "import",
    "react",
    "flowtype",
    "jsx-a11y"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": [1, "always-multiline"],
    "comma-spacing": [1],
    "consistent-return": [1],
    "eol-last": [0],
    "flowtype/require-parameter-type": [0],
    "flowtype/require-return-type": [0, "always", {"annotateUndefined": "never"}],
    "flowtype/space-after-type-colon": 0,
    "flowtype/space-before-type-colon": 0,
    "flowtype/type-id-match": [0, "^([A-Z][a-z0-9]+)+[Type|Props]$"],
    "global-strict": [0],
    "indent": [2, 2],
    "import/named": 2,
    "key-spacing": [0],
    "new-cap": [0],
    "no-case-declarations": [1],
    "no-console": [0],
    "no-constant-condition": [1],
    "no-debugger": [1],
    "no-dupe-keys": [2],
    "no-extra-semi": [1],
    "no-irregular-whitespace": [1],
    "no-multi-spaces": [0],
    "no-redeclare": [1],
    "no-throw-literal": [1],
    "no-trailing-spaces": [1],
    "no-undef": [1],
    "no-underscore-dangle": [0],
    "no-unreachable": [1],
    "no-unused-vars": [1],
    "no-var": [0],
    "quotes": [0, "single"],
    "react/display-name": [1],
    "react/jsx-no-undef": 1,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-danger": [0],
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-direct-mutation-state": [1],
    "react/no-find-dom-node": 0,
    "react/prop-types": 0,
    "semi": [1],
    "space-infix-ops": [0],
    "strict": [0],
    "valid-jsdoc": [0],
    "eqeqeq": [2]
  },
  "settings": {
    "flowtype": { "onlyFilesWithFlowAnnotation": false },
    "import/resolver": {
      "node": { "moduleDirectory": ["node_modules", "app"] }
    }
  }
}
